#menu{
  height: 750px;
  background-color: purple;
}

#tableLink{
  font-size: large;
  font-weight: bold;
  color: white;
}

#listLink{
  font-size: large;
  font-weight: bold;
  color: white;
}

#scoresLink{
  font-size: large;
  font-weight: bold;
  color: white;
}

#home{
  margin-left: 30px;
  width: 140px;
  height: 30px;
  background-color: white;
  color: purple;
  font-size: large;
  font-weight: bold;
}

#teamList{
  font-size: large;
  color: purple;
}

#playersLink{
  font-size: large;
  font-weight: bold;
  color: white;
}

#teamScore{
  color: purple;
  font-size: large;
  font-weight: bold;
}

#facScore{
  color: purple;
  font-size: large;
  font-weight: bold;
}

#playerScore{
  color: purple;
  font-size: large;
  font-weight: bold;
}

.ratingHeader{
  color: purple;
  font-size: xx-large;
  font-weight: bold;
}

.game-selector{
  width: 250px;
  height: 100px;
  color: purple;
  font-weight: bold;
}

.chgk-selector{
  color: purple;
  font-size: large;
}

#chgk-editor-header{
  color: purple;
  font-weight: bold;
  font-size: x-large;
  margin-left: 49%;
}

#chgk-editor-header-q{
  color: purple;
  font-weight: bold;
  font-size: x-large;
}

#chgk-teams{
  margin-left: 53%;
}

.proceed{
  width: 150px;
  height: 75px;
  color: purple;
  font-weight: bold;
}

.question_input{
  width: 20px;
  height: 20px;
}

.snets{
  padding: 0 10px;
  border: 1px solid #000 !important;
}

#name{
  color: purple;
  font-weight: bold;
  font-size: middle;
  padding-right: 20px;
  border: 1px black solid;
}
