<head>
  <title>chgk</title>
</head>

<body>

</body>
<template name="menu">
    <a href="/"><button type="button" id="home">Домой</button></a> <br><br>
    <a href="/table" id="tableLink">Игра</a> <br> <br>
    <a href="/list" id="listLink">Список команд</a> <br> <br>
    <a href="/scores" id="scoresLink">Зачёты</a> <br> <br>
    <a href="/players" id="playersLink">Индивидуальный рейтинг</a>
</template>
<template name="browser">
  <div class="row">
    <div class="col-md-2" id="menu">
      {{> menu}}
    </div>
    <div class="col-md-10">
    </div>
  </div>
</template>
