<template name="chgk">
  <div class="row">
    <div class="col-md-2" id="menu">
      {{> menu}}
    </div>
    <div class="chgk-editor">
      <p id="chgk-editor-header">Участвующие команды</p> <br> <br>
      <form id="chgk-teams">
        {{#each teams}}
          <input class="chgk-selector" type="checkbox" name="team-check" id="chgk-team" value={{name}}> <label class="chgk-selector" for="chgk-team">{{name}}</label> <br>
        {{/each}}
      </form>
    </div>
    <br><br>
  <center>
    <a href="/table/chgk/questions"><button type="button" id="teams-proceed" class="proceed">Дальше</button></a>
  </center>

</div>
</template>

<template name="chgkQuestions">
  <div class="row">
    <div class="col-md-2" id="menu">
      {{> menu}}
    </div>
    <br>
    <center>
      <p id="chgk-editor-header-q">Количество вопросов</p> <br> <br>
      <a href="/table/chgk/game/24"><button type="button" id="question-proceed" class="proceed">24</button></a>
      <a href="/table/chgk/game/36"><button type="button" id="question-proceed" class="proceed">36</button></a>
    </center>
</div>
</template>

<template name="chgkGame24">
  <div class="row">
    <div class="col-md-2" id="menu">
      {{> menu}}
    </div>
    <br>
    <div class="col-md-10">
      <h1>GAME 24</h1>
      <table>
        <tr>
          <th id="head">Команды</th>

          {{#each n in questions}}
            <th class="snets">{{n}}</th>
          {{/each}}
        </tr>
        {{#each teams}}
          <tr name={{name}} class="snets">
            <td id="name" class="snets">{{name}}</td>
              {{#each n in questions}}
              <td class="snets">
                <input type="checkbox" name={{n}} class="ques">
             </td>
              {{/each}}
          </tr>
        {{/each}}
      </table>
      <button type="button" id="end-game">Завершить игру</button>
    </div>
</div>
</template>

<template name="chgkGame36">
  <div class="row">
    <div class="col-md-2" id="menu">
      {{> menu}}
    </div>
    <br>
    <div class="col-md-10">
      <h1>GAME 36</h1>
      <table>
        <tr>
          <th id="head">Команды</th>

          {{#each n in questions}}
            <th class="snets">{{n}}</th>
          {{/each}}
          <th class="snets">Результат</th>
        </tr>
        {{#each team in teams}}
          <tr class="snets">
            <td name="name" class="snets">{{name}}</td>
              {{#each n in questions}}
              <td class="snets">
                <input type="checkbox" class="cb">
             </td>
              {{/each}}
              <td class="snets">
                {{result team}}
              </td>
          </tr>
        {{/each}}
      </table>
      <button type="button" id="end-game">Завершить игру</button>
    </div>
</div>
</template>
