<template name="table">
  <div class="row">
    <div class="col-md-2" id="menu">
      {{> menu}}
    </div>
    <div class="col-md-10">
      <center>
        <a href="/table/chgk"><button type="button" name="chgk" class="game-selector">Что? Где? Когда?</button></a> <br> <br>
        <a href="/table/svoyak"><button type="button" name="svoyak" class="game-selector">Своя Игра</button></a> <br> <br>
        <a href="/table/xamsa"><button type="button" name="xamsa" class="game-selector">Хамса</button></a> <br> <br>
        <a href="/table/brainring"><button type="button" name="brainring" class="game-selector">Брейнринг</button></a> <br> <br>
    </center>
    </div>
  </div>
</template>
