<template name="players">
  <div class="row">
    <div class="col-md-2" id="menu">
      {{> menu}}
    </div>
    <br>
    <div class="col-md-10" id="playerScore">
      {{#each list}}
        {{name}} - {{faculty}} - {{score}} <br>
      {{/each}}
    </div>
    <br><br>
    <form id="addPlayer">
      <input type="text" name="name" placeholder="Имя" autofocus required>
      <input type="text" name="faculty" placeholder="Факультет" required>
      <input type="submit" name="submitPlayer" value="Добавить">
    </form>
  </div>
</template>
