<template name="ratings">
  <div class="row">
    <div class="col-md-2" id="menu">
      {{> menu}}
    </div>
    <div class="col-md-5" id="facScore">
      <p class="ratingHeader">Зачёт по факультетам</p>
      {{#each list_faculty}}
        {{name}} - {{score}} <br>
      {{/each}}
    </div>
    <div class="col-md-5" id="teamScore">
      <p class="ratingHeader">Командный зачёт</p>
      {{#each list_team}}
        {{name}} - {{score}} <br>
      {{/each}}
    </div>
  </div>
</template>
