<template name="list">
  <div class="row">
    <div class="col-md-2" id="menu">
      {{> menu}}
    </div>
    <div class="col-md-10">
      <div id="teamList">
        {{#each list}}
          {{name}} - {{faculty}} <br>
        {{/each}}
      </div>
      <br>
      <form id="addTeamForm">
        <input type="text" name="Name" placeholder="Название" autofocus required> <br>
        <input type="text" name="Faculty" placeholder="Факультет" required> <br>
        <input type="submit" name="addTeamSubmit" value="Добавить команду">
      </form>
    </div>
  </div>
</template>
